@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Quiz App - Start Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h2 {
            color: #333;
            margin-top: 50px;
        }

        p {
            color: #666;
            margin-top: 20px;
        }

       
        }

            
    </style>
</head>
<body>
    <h2>Welcome to the Quiz App!</h2>
    <p>This quiz app allows you to test your knowledge on various subjects. It consists of a set of questions where you can choose the correct answer from multiple options.</p>
    <p>Click the "Take Text" button on top to begin the test:</p>
    
</body>
</html>
